{% extends '_design.html' %}

{% block title %}Metamorphosis PHP Framework{% endblock %}

{% block body %}
<!--
<h1>{{ message }}</h1>
<h2>{{ system_version }}</h2>
<h3>{{ translation.fields_header_title }}</h3>

<form method="post" action="">
    <input type="hidden" name="token" value="{{ csrf_token() }}" />
    <p>This form has a hidden input for CSRF Token</p>
    <label for="text_name">Name:</label>
    <input type="text" name="text_name" id="text_name" />
</form>
-->

<main>
    <h1>Get started with Metamorphosis</h1>
    <p class="fs-5 col-md-8">Metamorphosis is an easy-to-use, low footprint, PHP framework using the MVC Design Pattern.
        It is primarily developed for self use but has some features which makes this framework unique.</p>


    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
        <div class="col-md-6">
            <h2>Framework Properties</h2>
            <p>This framework relies on the following dependencies</p>
            <ul class="icon-list ps-0">
                <li class="d-flex align-items-start mb-1"><a href="https://twig.symfony.com/" rel="noopener"
                                                             target="_blank">Twig Template Engine</a></li>
            </ul>
        </div>

        <div class="col-md-6">
            <h2>Examples</h2>
            <p>Code and Usage examples</p>
            <ul class="icon-list ps-0">
                <li class="d-flex align-items-start mb-1"><a href="/home/plugins">Managing Plugins</a></li>
                <li class="d-flex align-items-start mb-1"><a href="/home/policies">Managing Policies</a></li>
                <li class="d-flex align-items-start mb-1"><a href="/home/localization">Managing Localization</a></li>
                <li class="d-flex align-items-start mb-1"><a href="/home/configurations">Managing Configurations</a>
                </li>
                <li class="d-flex align-items-start mb-1"><a href="/home/routing">Managing Routing</a></li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}
