{% extends '_design.html' %}

{% block title %}Framework{% endblock %}

{% block body %}
<h1>Framework Development Menu</h1>

<hr class="col-3 col-md-2 mb-5">
<h2>Controller Overview</h2>

<table class="table">
    <tr>
        <th class="col">Controllers</th>
    </tr>

    {% foreach($controllers as $controller): %}
    <tr>
        <td>{{ $controller }}</td>
    </tr>
    {% endforeach; %}
</table>

<hr class="col-3 col-md-2 mb-5">
<h2>Model Overview</h2>

<table class="table">
    <tr>
        <th class="col">Models</th>
    </tr>

    {% foreach($models as $model): %}
    <tr>
        <td>{{ $model }}</td>
    </tr>
    {% endforeach; %}
</table>

<hr class="col-3 col-md-2 mb-5">
<h2>Plugin Overview</h2>

<table class="table">
    <tr>
        <th class="col">Plugins</th>
    </tr>

    {% foreach($plugins as $plugin): %}
    <tr>
        <td>{{ $plugin }}</td>
    </tr>
    {% endforeach; %}
</table>

<hr class="col-3 col-md-2 mb-5">
<h2>Policies Overview</h2>

<table class="table">
    <tr>
        <th class="col">Policies</th>
    </tr>

    {% foreach($policies as $policy): %}
    <tr>
        <td>{{ $policy }}</td>
    </tr>
    {% endforeach; %}
</table>

<hr class="col-3 col-md-2 mb-5">
<h2>Localization Overview</h2>

<table class="table">
    <tr>
        <th class="col">Localization</th>
    </tr>
    {% foreach($localizations as $locale): %}
    <tr>
        <td>{{ $locale }}</td>
    </tr>
    {% endforeach; %}
</table>

{% endblock %}