{% extends '_design.html' %}

{% block title %}Metamorphosis PHP Framework{% endblock %}

{% block body %}

<main>
    <img src="{{$public_root}}/assets/images/logo.png" class="rounded mx-auto d-block" alt="Metamorphosis Logo" width="200", height="200">
    <h1>Get started with Metamorphosis</h1>
    <p class="fs-5 col-md-8">Metamorphosis is an easy-to-use, low footprint, PHP framework using the MVC Design Pattern.
        It is primarily developed for self use but has some features which makes this framework unique.</p>


    <hr class="col-3 col-md-2 mb-5">
    <p>If framework settings have been turned on in <code>./App/Config/ControllerConfig/Framework.php</code>. It can be reached <a href="/framework/index">here</a></p>
    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
        <div class="col-md-6">
            <h2>Framework Properties</h2>
            <p>This framework relies on the following dependencies</p>
            <ul class="icon-list ps-0">
                <li class="d-flex align-items-start mb-1"><a href="#" rel="noopener"
                                                             target="_blank">Nothing</a></li>
            </ul>
        </div>

        <div class="col-md-6">
            <h2>Examples</h2>
            <p>Code and Usage examples</p>
            <ul class="icon-list ps-0">
                <li class="d-flex align-items-start mb-1"><a href="/about/plugins">Managing Plugins</a></li>
                <li class="d-flex align-items-start mb-1"><a href="/about/policies">Managing Policies</a></li>
                <li class="d-flex align-items-start mb-1"><a href="/about/localization">Managing Localization</a></li>
                <li class="d-flex align-items-start mb-1"><a href="/about/configurations">Managing Configurations</a>
                </li>
                <li class="d-flex align-items-start mb-1"><a href="/about/routing">Managing Routing</a></li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}