<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Metamorphosis">
    <meta name="author" content="Morten Haugstad, Codebarbarian, morten.haugstad[at]gmail.com">

    <link rel="stylesheet" href="{{public_root}}/assets/css/style.css">
    <link href="{{public_root}}/assets/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% for message in flash_messages %}
<div class="alert alert-{{ message.type }}">
    {{ message.body }}
</div>
{% endfor %}

<!-- main body content start-->
{% block body %}{% endblock %}
<!-- main body content end-->
<script src="{{public_root}}/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>
